<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Moodle</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>
<body>
  <nav class="fixed-top navbar navbar-light bg-white navbar-expand moodle-has-zindex" aria-label="Site navigation" >
    
    <div data-region="drawer-toggle" class="d-inline-block mr-3">
        <button aria-expanded="true" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-light bg-gray" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav"><i class="icon fa fa-bars fa-fw " aria-hidden="true"  ></i><span class="sr-only">Side panel</span></button>
    </div>

    <a href="/student" class="navbar-brand aabtn d-none d-sm-inline">
        <span class="site-name d-none d-md-inline">Spectre Moodle</span>
    </a>


    <div class="action-menu-trigger">
      <div class="dropdown">
          <a href="#" tabindex="0" class="d-inline-block  dropdown-toggle icon-no-margin" id="action-menu-toggle-1" aria-label="User menu" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" aria-controls="action-menu-1-menu">
              
              <span class="userbutton"><span class="usertext mr-1" style="
                padding-left: 1100px">Name goes here</span></span>
                  
              <b class="caret"></b>
          </a>
              <div class="dropdown-menu dropdown-menu-right menu  align-tr-br" id="action-menu-1-menu" data-rel="menu-content" aria-labelledby="action-menu-toggle-1" role="menu" data-align="tr-br">
                                                  <a href="/student" class="dropdown-item menu-action" role="menuitem" data-title="mymoodle,admin" aria-labelledby="actionmenuaction-1">
                  <i class="icon fa fa-tachometer fa-fw " aria-hidden="true"  ></i>
                  <span class="menu-action-text" id="actionmenuaction-1">Dashboard</span>
          </a>
      <div class="dropdown-divider" role="presentation"><span class="filler">&nbsp;</span></div>
                                                  <a href="https://moodle.iitb.ac.in/user/profile.php?id=26082" class="dropdown-item menu-action" role="menuitem" data-title="profile,moodle" aria-labelledby="actionmenuaction-2">
                  <i class="icon fa fa-user fa-fw " aria-hidden="true"  ></i>
                  <span class="menu-action-text" id="actionmenuaction-2">Profile</span>
          </a>
                                                  <a href="https://moodle.iitb.ac.in/grade/report/overview/index.php" class="dropdown-item menu-action" role="menuitem" data-title="grades,grades" aria-labelledby="actionmenuaction-3">
                  <i class="icon fa fa-table fa-fw " aria-hidden="true"  ></i>
                  <span class="menu-action-text" id="actionmenuaction-3">Grades</span>
          </a>
                                                  <a href="https://moodle.iitb.ac.in/message/index.php" class="dropdown-item menu-action" role="menuitem" data-title="messages,message" aria-labelledby="actionmenuaction-4">
                  <i class="icon fa fa-comment fa-fw " aria-hidden="true"  ></i>
                  <span class="menu-action-text" id="actionmenuaction-4">Messages</span>
          </a>
                                                  <a href="https://moodle.iitb.ac.in/user/preferences.php" class="dropdown-item menu-action" role="menuitem" data-title="preferences,moodle" aria-labelledby="actionmenuaction-5">
                  <i class="icon fa fa-wrench fa-fw " aria-hidden="true"  ></i>
                  <span class="menu-action-text" id="actionmenuaction-5">Preferences</span>
          </a>
      <div class="dropdown-divider" role="presentation"><span class="filler">&nbsp;</span></div>
                                                  <a href="https://moodle.iitb.ac.in/login/logout.php?sesskey=LIBHmIAFJV" class="dropdown-item menu-action" role="menuitem" data-title="logout,moodle" aria-labelledby="actionmenuaction-6">
                  <i class="icon fa fa-sign-out fa-fw " aria-hidden="true"  ></i>
                  <span class="menu-action-text" id="actionmenuaction-6">Log out</span>
          </a>
              </div>
      </div>
  </div>

</div>

</div>




    </nav>
    <div style="margin-top: 60px">
