<%- include('partials/header') %>


  <div class="container" style="margin-left: 1400px">
    <a class="btn btn-dark btn-lg" href="/user/profile" role="button" style="margin-top: 30px; margin-right: 10px">Profile</a>
    <a class="btn btn-dark btn-lg" href="/logout" role="button" style="margin-top: 30px">Logout</a>
  </div>






<script>
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted || 
                         ( typeof window.performance != "undefined" && 
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>

<%- include('partials/footer') %>