<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <image src="https://pittcc.edu/wp-content/uploads/2018/04/moodle-logo.png" height="120" width=""></image>
    <h1 class="display-3">Moodle</h1>
    <p class="lead">Enjoy your learning!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
